{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

      {% block content %}

     <div col-xs-12 class="container">
     		<div class='row'>
				<div class="col-xs-6 col-xs-offset-3 text-align-center center">
					<h1 class="title_underline">About Sporti</h1>
					<div class="well">
					<p>Sporti is a fast growing community of passionate sports fans. Our memebers post their own questions, comment on others and get to grips with the hottest topics in sport.</p>

					<p>From football to cycling, Rugby Union to Athletics, Sporti is where you'll find the best debate and get an idea for what fans and experts across the world are thinking.</p>

					<p>Got a burning question of your own? Join us and post it to the community. Watch as others comment and vote on your question. Welcome to Sporti - thanks for visiting!</p>
					</div>
				</div>	
			</div>
		</div>


      {% endblock %}
