{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}

      {% block content %}
     <div col-xs-12 class="container">
     		<div class='row'>
			<div class="col-xs-6 col-xs-offset-3 text-align-center center">
				<h1 class="title_underline">Password Reset</h1>
				<div class="well">
				<p>Enter your email below and if there is a Sporti account assocaited with it you'll recieve an email with instructions on how to reset your password.</p>
				<form method="post" action="{% url 'password_reset' %}">
				{% csrf_token %}
				<table>
				<tr>
				    <td>{{ form.as_p }}
				</tr>
				</table>
				<input type="submit" value="Send Reset Email" class="btn join" />
				<input type="hidden" name="next" value="/login/" />
				<br>
				</form>

				</div>
			</div>
		</div>

	</div>


      {% endblock %}